{% extends 'core/base.html' %}
{% load i18n %}

{% block paypal %}

<head>
  <title>{% block tittle %}{% trans 'Pago' %}{% endblock %}</title>
  <link href="../../static/core/assets/dist/css/sign-up.css" rel="stylesheet">
</head>

<style>
  footer {
    position: relative;
    top: 230px;
  }
</style>

<body>
  <script
    src="https://www.paypal.com/sdk/js?client-id=AXP_MYXrBZshAVzILS3ln1jbrmIiKHfLdrU-q70MWazv2A_qXUBsF_4hXyfEl2NUnFt54UaHo7uAgXhZ&currency=EUR"></script>

  <div style="display: grid; grid-auto-flow: column; gap: 250px; justify-content: center; border: 1px solid gray; padding: 20px;">
    <div>
      <h3>{% trans 'Detalles de la compra:' %}</h3>

      <ol style="border: 1px solid gray; padding: 20px;">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{% trans 'Email:' %}</div>
            {{ request.session.email }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{% trans 'Fecha de entrada:' %}</div>
            {{ request.session.entry_date }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{% trans 'Fecha de salida:' %}</div>
            {{ request.session.departure_date }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{% trans 'Habitación elegida:' %}</div>
            {{ request.session.roomName }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{% trans 'Huéspedes:' %}</div>
            {{ request.session.guests }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{% trans 'Precio por noche:' %}</div>
            {{ request.session.price }}€
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{% trans 'Precio por' %} {{ request.session.days }} {% trans 'noches:' %}</div>
            {{ request.session.priceTotal }}€
          </div>
        </li>
      </ol>
    </div>
    <div id="paypal-button-container" style="width: 600px; align-self: center;"></div>
  </div>
  <script>

    var price = '{{price}}'
    var totalDays = '{{totalDays}}'
    var total = price * totalDays

    paypal.Buttons({
      // Sets up the transaction when a payment button is clicked
      createOrder: (data, actions) => {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: total // Can also reference a variable or function
            }
          }]
        });
      },
      // Finalize the transaction after payer approval
      onApprove: (data, actions) => {
        return actions.order.capture().then(function (orderData) {
          // Successful capture! For dev/demo purposes:
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
          const transaction = orderData.purchase_units[0].payments.captures[0];
          alert(`Transaction ${transaction.status}: ${transaction.id}\n\nCompra realizada, disfrute su estancia.`);
          // When ready to go live, remove the alert and show a success message within this page. For example:
          // const element = document.getElementById('paypal-button-container');
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
          var url = "{% url 'successPayRoomReservation' %}"
          window.location = url;
        });
      }
    }).render('#paypal-button-container');
  </script>
</body>

{% endblock %}