{% extends 'core/base.html' %}
{% load i18n %}

{% block bus %}

<head>
	<title>
    {% block title %}
      {% trans 'Transporte público' %}
    {% endblock %}
  </title>
</head>

<style>
  div.col-md-8{
    width: 1200px;
    padding: 100px;
  }
</style>

<div class="row" style="padding: 30px;">
    <div class="col-md-4">
        <h3>{% trans 'Paradas de autobús' %}</h3>
        <p class="lead">{% trans 'Estas son las paradas de autobús próximas a nuestro hotel.' %}</p>

        <ol style="border-right: 1px solid gray; padding: 20px;">
            {% for location in locations %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold" >{{ location.name }}</div>
                {{ location.address }}
              </div>
            </li>
            {% endfor %}
          </ol>

    </div>
    <div class="col-md-8">
        {{ map|safe }}
    </div>
</div>


{% endblock %}