{% extends 'core/base.html' %}
{% load static %}

{% block indexMenuRestaurant %}

<head>
    <title>Menú del restaurante</title>
</head>
<body>
<style>
    .padre-flex{
        background: #A8C7D6;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
       
      .padre-flex > div{
        text-align: center;
      }

      .padre-flex2{
        background: #A8C7D6;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
       
      .padre-flex2 > div{
        text-align: center;
      }
</style>

<div class="padre-flex2">
    <div class="content">
        <h1>
            Este es el restaurante de Hoguma.
        </h1>
        
        <p>
            Pinche en alguna de las siguientes secciones si quiere algo.
        </p>
    </div>
</div>
    
<div class="padre-flex">
    <div class="content">
        <p><a class="btn btn-secondary" href={% url 'drink' %}>Bebidas</a></p>
        <p><a class="btn btn-secondary" href={% url 'burger' %}>Hamburguesas</a></p>
        <p><a class="btn btn-secondary" href={% url 'pizza' %}>Pizzas</a></p>
        <p><a class="btn btn-secondary" href={% url 'sandwich' %}>Sandwiches</a></p>
        <p><a class="btn btn-secondary" href={% url 'steak' %}>Carnes</a></p>
        <p><a class="btn btn-secondary" href={% url 'bestfood' %}>Comidas mejor valoradas</a></p>
        <p><a class="btn btn-secondary" href={% url 'dessert' %}>Postres</a></p>
    </div>
</div>    
    
</body>

{% endblock %}

</html>

