<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejor comida</title>
</head>
<body>
    <table>
        <td>
        {% for dic in nombre %}
            <tr>
                <h2>{{ dic.name }}</h2>

            </tr>
            <tr>
                <p>Precio: {{ dic.price }}€ </p>
            </tr>
            <tr>
                <p>Disponible para {{ dic.rate }} personas</p>
            </tr>
            <tr>
                <img src="{{ dic.img }}" width="100" height="100">
            </tr>
        {% endfor %}
        </td>
    </table>
</body>
</html>
