{% extends 'core/base.html' %}

{% block index %}

<head>
  <script src="https://kit.fontawesome.com/603fc9827d.js" crossorigin="anonymous"></script>
</head>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="bd-placeholder-img"
        src="https://images.unsplash.com/photo-1578681041175-9717c16b0d66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1460&q=80"
        width="1900" height="650" />
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Hoguma</h1>
          <p>¡Regístrese en nuestra web y obtenga sorprendentes promociones!</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}">Regístrate hoy</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="bd-placeholder-img"
        src="https://images.unsplash.com/photo-1562438668-bcf0ca6578f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2060&q=80"
        width="1900" height="650" />
      <div class="container">
        <div class="carousel-caption">
          <h1>Tiempo de descanso y paz</h1>
          <p>Nuestro hotel cuenta con una variedad de habitaciones perfectamente equipadas para ayudarle a desconectar de la rutina.</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'room' %}">Ver nuestras habitaciones</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="bd-placeholder-img"
        src="https://images.unsplash.com/photo-1494620531168-6fcc3407322b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2021&q=80"
        width="1900" height="550" />
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Instalaciones.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle"
        src="https://images.unsplash.com/photo-1584132915807-fd1f5fbc078f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
        width="140" height="140" />
      <h2 class="fw-normal">Habitaciones</h2>
      <p>Aquí encontrarás el catálogo completo de nuestras habitaciones de hotel.</p>
      <p><a class="btn btn-secondary" href="{% url 'room' %}">Ver detalles &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle"
        src="https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
        width="140" height="140" />
      <h2 class="fw-normal">Restaurante</h2>
      <p>Aquí encontrarás el menú de nuestro restaurante y podrás realizar una reserva.</p>
      <p><a class="btn btn-secondary" href="{% url 'restaurant' %}">Ver detalles &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle"
        src="https://img.freepik.com/foto-gratis/mujer-feliz-hablando-recepcionista-al-llegar-al-spa_637285-9455.jpg?w=1380&t=st=1674747510~exp=1674748110~hmac=b529a8b5ab95007af76a1e39f417df2d5b2ed77be973316213a257c01c0994b1"
        width="140" height="140" />
      <h2 class="fw-normal">Contacto</h2>
      <p>Aquí podrás contactar con el personal de nuestro hotel ante cualquier duda.</p>
      <p><a class="btn btn-secondary" href="{% url 'contact' %}">Ver detalles &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Hotel Hoguma</h2>
      <p class="lead">Amplios espacios, elegantes habitaciones y una atractiva oferta gastronómica. Así es el hotel Hoguma, que ha sido concebido para recrear en sus instalaciones una atmósfera excelente y totalmente cuidada.</p>
      <p class="lead">Ubicado en pleno centro de la ciudad de Lorca, nuestro establecimiento está diseñado expresamente para que disfrutes del máximo confort durante su estancia. Su refinada ambientación, dotada de abundante luz natural y su inmejorable localización, es ideal para generar experiencias únicas en nuestros huéspedes.</p>
      <p class="lead">Este hotel tiene a su disposición Habitaciones Individuales, Habitaciones Dobles, Habitaciones Triples y Suites</p>
      <div class="d-flex">
        <p><a class="btn btn-secondary" href="{% url 'room' %}"><i class="fa-solid fa-bed"></i> Nuestras habitaciones </a></p>
      </div>
    </div>
    <div class="col-md-5">
      <img src="https://www.hotelscombined.es/rimg/himg/d1/d1/0e/expediav2-35165-fa80af-357558.jpg?width=720&height=576&crop=true" width="500" height="500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Servicios del hotel</h2>
      <ul style="list-style: none;" class="lead">
        <li>Aire acondicionado <i class="fa-regular fa-snowflake"></i></li>
        <li>Asistencia médica <i class="fa-solid fa-briefcase-medical"></i></li>
        <li>Gimnasio <i class="fa-solid fa-dumbbell"></i></li>
        <li>Parking cubierto <i class="fa-solid fa-square-parking"></i></li>
        <li>Piscina exterior <i class="fa-solid fa-water-ladder"></i></li>
        <li>Recepción y servicio de habitaciones 24 h <i class="fa-solid fa-bell-concierge"></i></li>
        <li>Restaurante <i class="fa-solid fa-utensils"></i></li>
        <li>Jardín <i class="fa-solid fa-tree"></i></li>
        <li>Wifi de alta velocidad <i class="fa-solid fa-wifi"></i></li>
      </ul>    
    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://www.novotelmadridcenter.com/wp-content/uploads/2015/07/4408-54.jpg" width="500" height="500" alt="Error loading image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Ubicación</h2>
      <p class="lead">Situado a 300 metros del centro de urbano de Lorca, esto le confiere al hotel un fácil acceso y,
        sobre todo, la capacidad de recorrer a pie los principales atractivos de la ciudad tales como monumentos, museos
        o lugares emblemáticos.</p>
      <p class="lead">El hotel está apenas a 600 metros de la estación de tren (regional y alta velocidad) y hay
        diversas paradas de autobús próximas a nuestro establecimiento.</p>
      <div class="d-flex" style="text-align: center;">
        <p><a class="btn btn-secondary mx-5" href="{% url 'monuments' %}"><i class="fa-solid fa-map"></i> Lugares emblemáticos</a></p>
        <p><a class="btn btn-secondary mx-5" href="{% url 'busStop' %}"><i class="fa-solid fa-bus"></i> Transporte público</a></p>
      </div>
    </div>
    <div class="col-md-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3158.0278157581815!2d-1.701287584685326!3d37.67205417977817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzfCsDQwJzE5LjQiTiAxwrA0MSc1Ni44Ilc!5e0!3m2!1ses!2ses!4v1675365280092!5m2!1ses!2ses"
        width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}