{% extends 'core/base.html' %}

{% block monuments %}

<head>
    <title>Lugares emblemáticos</title>
</head>
<body>
    <div style="display: grid; gap: 20px; padding: 30px;">
        {% for dic in monuments %}
        <div style="display: grid; grid-auto-flow: column; grid-template-columns: 300px 1fr; gap: 20px;">
            <img src="{{ dic.foto }}" width="100%" height="100%">
            <div>
                <h1>Nombre: {{ dic.nombre }}</h1>
                <h2>Tipo: {{ dic.tipo }}€ </h2>
                <h2>Dirección: {{ dic.direccion }}</h2>
                <h2>Descripción: {{ dic.descripcion }}.</h2>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

{% endblock %}