{% extends 'core/base.html' %}

{% block reservationRoom %}
<head>
    <title>Habitaciones</title>
</head>
<body style="text-align: center;">
    <div style="display: grid; grid-template: 1fr 1fr; grid-auto-flow: column;">
        {% for dic in room %}
        <div>
            <img src="{{ dic.img1 }}" width="300" height="300">
            <img src="{{ dic.img2 }}" width="300" height="300">
            <h1>{{ dic.name }}</h1>
            <h2>Precio: {{ dic.price }}€ </h2>
            <h2>Capacidad de {{ dic.capacity }}.</h2>
            <h2>Capacidad máxima de {{ dic.capacity_max }}.</h2>
        </div>
        {% endfor %}
    </div>
</body>

{% endblock %}