{% extends 'core/base.html' %}

{% block infoReservation %}
<head>
    <title>Habitaciones</title>
</head>
<body style="text-align: center;">
        {% for dic in room %}
            <h1>{{ dic.name }}</h1>
            <h2>Precio: {{ dic.price }}€ </h2>
            <h2>Capacidad de {{ dic.capacity }}.</h2>
            <h2>Capacidad máxima de {{ dic.capacity_max }}.</h2>
            <img src="{{ dic.img1 }}" width="300" height="300">
            <img src="{{ dic.img2 }}" width="300" height="300">
        {% endfor %}
</body>

{% endblock %}