<!-- <h1>Built-In Login Logout</h1> -->
{% extends 'core/base.html' %}
{% load i18n %}

{% block resetPassword %}

<head>
    <title>{% block title %}{% trans 'Restablecer contraseña' %}{% endblock %}</title>
  
    <link href="../../static/core/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/core/assets/dist/css/sign-up.css" rel="stylesheet">
  
    <!-- Custom styles for this template -->
  </head>
  
  <style>
    footer{
      margin-top: 0;
      position: relative;
      top: 257px;
    }
    .passwordReset {
        max-width: 330px;
        padding: 15px;
        border: rgb(65, 63, 63) 3px solid;
        border-radius: 10px;
        background-color: white;
        text-align: center;
    }

    .passwordReset .form-floating:focus-within {
        z-index: 2;
    }
  </style>

<body style="display: flex; justify-content: center; background: linear-gradient(to top,#eaecc6, #2bbfe4);">

    <main class="passwordReset w-100 m-auto">
      <form method="post">
  
        <img class="mb-4" src="../../static/core/assets/img/Hoguma.png" alt="Error" width="150" height="110">
        <h1 class="h3 mb-3 fw-normal">{% trans 'Restablecer contraseña' %}</h1>
            {% csrf_token %}
            {{ form.as_p }}
        <button class="w-100 btn btn-lg btn-primary" type="submit">{% trans 'Enviar email' %}</button>
        </form>
    </main>
</body>
{% endblock %}