{% extends 'core/base.html' %}
{% load i18n %}

{% block resetPassword %}

<head>
    <title>{% block title %}{% trans 'Restablecer contraseña' %}{% endblock %}</title>
    <link href="../../../../static/core/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../static/core/assets/dist/css/defaultForm/sign-up.css" rel="stylesheet">
</head>

<style>
    footer {
        margin-top: 0;
        position: relative;
        top: 314px;
    }

    .messagePasswordReset {
        max-width: 880px;
        padding: 15px;
        border: rgb(65, 63, 63) 3px solid;
        border-radius: 10px;
        background-color: white;
        text-align: center;
    }

    .messagePasswordReset .form-floating:focus-within {
        z-index: 2;
    }
</style>

<body style="display: flex; justify-content: center; background: linear-gradient(to top,#eaecc6, #2bbfe4);">
    <main class="messagePasswordReset w-100 m-auto">
        <img class="mb-4" src="../../static/core/assets/img/Hoguma.png" alt="Error" width="150" height="110">

        <h2>{% trans 'Restablecer contraseña' %}</h2>
        <p>{% trans 'Hemos enviado un enlace para restablecer la contraseña a tu email. Por favor compruebe la bandeja de entrada.' %}</p>

    </main>

</body>

{% endblock %}