{% load i18n %}{% autoescape off %}
{% blocktrans %}Hola, has recibido este email porque tú has solicitado restablecer la contraseña de usuario en Hoguma.{% endblocktrans %}

{% trans "Por favor accede al siguiente enlace y cambia la contraseña" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Tu nombre de usuario, en el caso de que lo hayas olvidado, es el siguiente:" %} {{ user.get_username }}

{% trans "¡Muchas gracias por utilizar nuestra web!" %}

{% blocktrans %}El equipo de Hoguma.{% endblocktrans %}

{% endautoescape %}