{% extends 'core/base.html' %}

{% load i18n %}

{% block menuRestaurant %}

<head>
  <title>
		{% block title %}
			{% trans 'Carta' %}
		{% endblock %}
	</title>
  <link href="../../../static/core/assets/dist/css/Restaurant/menu.css" rel="stylesheet">
</head>

<body style="margin-top: 25px;">
    <section id="menu" class="menu">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>{% trans 'Carta' %}</h2>
                <p>{% trans 'Échale un vistazo a nuestro' %} <span>{% trans 'Hogumenú' %}</span></p>
            </div>

            <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

                <li class="nav-item">
                    <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-steak">
                        <h4>{% trans 'Carnes' %}</h4>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-burger">
                        <h4>{% trans 'Hamburguesas' %}</h4>
                    </a>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-pizza">
                        <h4>{% trans 'Pizzas' %}</h4>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-sandwich">
                        <h4>{% trans 'Sandwiches' %}</h4>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-bestFood">
                        <h4>{% trans 'Platos estrella' %}</h4>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dessert">
                        <h4>{% trans 'Postres' %}</h4>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-drink">
                        <h4>{% trans 'Bebidas' %}</h4>
                    </a>
                </li>

            </ul>

            <div class="tab-content" data-aos="fade-up" data-aos-delay="300" style="text-align: center;">

                <div class="tab-pane fade active show" id="menu-steak">

                    <div class="tab-header text-center">
                        <p>{% trans 'Menú' %}</p>
                        <h3>{% trans 'Carnes' %}</h3>
                    </div>

                    <div class="row gy-5">
                        {% for steak in steak %}
                        <div class="col-lg-4 menu-item">
                            <img src="{{ steak.img }}" alt="Error" style="height: 200px; width: 200px; border: 2px black solid; border-radius: 10px;">
                            <h4>{{ steak.name }}</h4> 
                            <p class="price">{% trans 'Precio:' %} {{ steak.price }}€</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane fade" id="menu-burger">

                    <div class="tab-header text-center">
                        <p>{% trans 'Menú' %}</p>
                        <h3>{% trans 'Hamburguesas' %}</h3>
                    </div>

                    <div class="row gy-5">
                        {% for burger in burger %}
                        <div class="col-lg-4 menu-item">
                            <img src="{{ burger.img }}" alt="Error" style="height: 200px; width: 200px; border: 2px black solid; border-radius: 10px;">
                            <h4>{{ burger.name }}</h4> 
                            <p class="price">{% trans 'Precio:' %} {{ burger.price }}€</p>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="tab-pane fade" id="menu-pizza">

                    <div class="tab-header text-center">
                        <p>{% trans 'Menú' %}</p>
                        <h3>{% trans 'Pizzas' %}</h3>
                    </div>

                    <div class="row gy-5">

                        {% for pizza in pizza %}
                        <div class="col-lg-4 menu-item">
                            <img src="{{ pizza.img }}" alt="Error" style="height: 200px; width: 200px; border: 2px black solid; border-radius: 10px;">
                            <h4>{{ pizza.name }}</h4> 
                            <p class="price">{% trans 'Precio:' %} {{ pizza.price }}€</p>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="tab-pane fade" id="menu-sandwich">

                    <div class="tab-header text-center">
                        <p>{% trans 'Menú' %}</p>
                        <h3>{% trans 'Sandwiches' %}</h3>
                    </div>

                    <div class="row gy-5">

                        {% for sandwich in sandwich %}
                        <div class="col-lg-4 menu-item">
                            <img src="{{ sandwich.img }}" alt="Error" style="height: 200px; width: 200px; border: 2px black solid; border-radius: 10px;">
                            <h4>{{ sandwich.name }}</h4> 
                            <p class="price">{% trans 'Precio:' %} {{ sandwich.price }}€</p>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="tab-pane fade" id="menu-bestFood">

                    <div class="tab-header text-center">
                        <p>{% trans 'Menú' %}</p>
                        <h3>{% trans 'Platos estrella' %}</h3>
                    </div>

                    <div class="row gy-5">

                        {% for bestFood in bestFood %}
                        <div class="col-lg-4 menu-item">
                            <img src="{{ bestFood.img }}" alt="Error" style="height: 200px; width: 200px; border: 2px black solid; border-radius: 10px;">
                            <h4>{{ bestFood.name }}</h4> 
                            <p class="price">{% trans 'Precio:' %} {{ bestFood.price }}€</p>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="tab-pane fade" id="menu-dessert">

                    <div class="tab-header text-center">
                        <p>{% trans 'Menú' %}</p>
                        <h3>{% trans 'Postres' %}</h3>
                    </div>

                    <div class="row gy-5">

                        {% for dessert in dessert %}
                        <div class="col-lg-4 menu-item">
                            <img src="{{ dessert.img }}" alt="Error" style="height: 200px; width: 200px; border: 2px black solid; border-radius: 10px;">
                            <h4>{{ dessert.name }}</h4> 
                            <p class="price">{% trans 'Precio:' %} {{ dessert.price }}€</p>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="tab-pane fade" id="menu-drink">

                    <div class="tab-header text-center">
                        <p>{% trans 'Menú' %}</p>
                        <h3>{% trans 'Bebidas' %}</h3>
                    </div>

                    <div class="row gy-5">

                        {% for drink in drink %}
                        <div class="col-lg-4 menu-item">
                            <img src="{{ drink.img }}" alt="Error" style="height: 200px; width: 200px; border: 2px black solid; border-radius: 10px;">
                            <h4>{{ drink.name }}</h4> 
                            <p class="price">{% trans 'Precio:' %} {{ drink.price }}€</p>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

{% endblock %}