{% extends 'core/base.html' %}
{% load i18n %}

{%block reservationsUserAnonymous %}

<head>
    <title>
		{% block title %}
			{% trans 'Mis reservas' %}
		{% endblock %}
	</title>
    <link href="../../../static/core/assets/dist/css/Restaurant/reservationRestaurantUser.css" rel="stylesheet">
</head>

<body>

    <section>
        <div class="container" style="padding-bottom: 275px;">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 style="margin-top: 40px;">{% trans 'Mis reservas de mesa' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align: center;">
                                        {% trans 'Identificador' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Correo electrónico' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Fecha' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Hora' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Comensales' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Alergia' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Opciones' %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dic in reservationsDB %}
                                <tr class="alert" role="alert">
                                    <th scope="row" style="text-align: center;">{{ dic.id }}</th>
                                    <td style="text-align: center;">{{ dic.email }}</td>
                                    <td style="text-align: center;">{{ dic.date }}</td>
                                    <td style="text-align: center;">{{ dic.hour }}</td>
                                    <td style="text-align: center;">{{ dic.people }}</td>
                                    {% if dic.allergy == True %}
                                        <td style="text-align: center;">Si</td>
                                    {% else %}
                                        <td style="text-align: center;">No</td>
                                    {% endif %}
                                    <td style="text-align: center;">
                                        <a href="formUpdateReservationRestaurantUserAnonymous/{{dic.id}}"
                                            class="btn btn-sm btn-block btn-info">{% trans 'Editar' %}</a>
                                        <a href="deleteReservationRestaurantUserAnonymous/{{dic.id}}"
                                            class="btn btn-sm btn-block btn-danger">{% trans 'Eliminar' %}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<br> <br>
{% endblock %}