{% extends 'core/base.html' %}

{% block reservationRoom %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Habitaciones</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Hoguma</h1>
        <p class="lead fw-normal text-white-50 mb-0">Reserva de habitaciones</p>
      </div>
    </div>
  </header>
  <!-- Section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for dic in room %}
        <div class="col mb-5">
          <div class="card h-100">
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Reserva</div>
            <!-- Product image-->
            <img class="card-img-top" src="{{ dic.img1 }}" alt="Error" height="250" width="250" />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <input hidden type="text" class="form-control" id="idTypeRoomForm" name="idTypeRoomForm" value={{ dic.id }}>
                <h5 class="fw-bolder">{{ dic.name }}</h5>
                <!-- Product price-->
                <a style="color: gray;">Precio</a>
                <br>
                <a>Precio por noche: {{ dic.price }}€</a>
                <br>
                <br>
                <a style="color: gray;">Capacidad</a>
                <br>
                <a>{{ dic.capacity }} personas (max. {{ dic.capacity_max }} personas)</a>
                <br>
                <br>
                <a style="color: gray;">Descripción</a>
                <br>
                <a>{{ dic.description }}</a>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                onclick="sub({{ dic.id }})" href="reservationsRoom/{{ dic.id }}">Reservar</a></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>

<script>
	function sub(id) {
		document.getElementById("idTypeRoomForm").value = id;
		console.log(id)
	};
</script>

{% endblock %}