{% extends 'core/base.html' %}
{% load i18n %}

{% block login-register %}

<head>
  <title>{% block title %}{% trans 'Registro' %}{% endblock %}</title>


  <link href="../../static/core/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/core/assets/dist/css/sign-up.css" rel="stylesheet">

  <!-- Custom styles for this template -->
</head>

<style>

footer{
  margin-top: 0;
  position: relative;
  top: 125px;
}

</style>

<body style="display: flex; justify-content: center; background: linear-gradient(to top,#eaecc6, #2bbfe4);">  

  <main class="form-signin w-100 m-auto" style="border: rgb(65, 63, 63) 3px solid; border-radius: 10px; background-color: white; text-align: center;">
    <form action="/register/" method="post">

      {% csrf_token %}
      <img class="mb-4" src="../../static/core/assets/img/Hoguma.png" alt="Error" width="150" height="110">
      <h1 class="h3 mb-3 fw-normal">{% trans 'Registro' %}</h1>

      {{ form }}

      <br><br>
      <button class="w-100 btn btn-lg btn-primary" type="submit">{% trans 'Registrarme' %}</button>
    </form>
  </main>

</body>

{% endblock %}