{% extends 'core/base.html' %}
{% load i18n %}

{% block reservationRoom %}

<head>
	<title>
		{% block title %}
			{% trans 'Reservar habitación' %}
		{% endblock %}
	</title>

	<link href="../../../static/core/assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
	<link href="../../../static/core/assets/dist/css/Hotel/formReservationRoom.css" rel="stylesheet">
</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="booking-cta">
							<h1>{{ room_selected.name }}</h1>
							<h3>{{ room_selected.description }}</h3>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-1">
						<div class="booking-form">
							<form action="/reservationsRoomForm/{{ room_selected.id }}" method="post">
								{% csrf_token %}
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" type="email" name="email"
												value="{{user.email}}">
											<span class="form-label">{% trans 'Correo electrónico' %}</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<div class="form-group">
											<span class="form-label">{% trans 'Huéspedes' %}</span>
											<select class="form-control" name="guests">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="form-group">
											<input hidden class="form-control" type="roomType" name="roomType" readonly
												value="{{room_selected.type}}">
											<input class="form-control" type="roomName" name="roomName" readonly
												value="{{room_selected.name}}">
											<span class="form-label">{% trans 'Habitación' %}</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="date" name="entry_date" required>
											<span class="form-label">{% trans 'Día de entrada' %}</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="date" name="departure_date" required>
											<span class="form-label">{% trans 'Dia de salida' %}</span>
										</div>
									</div>
								</div>
								<div class="form-btn">
									<button class="submit-btn">{% trans 'Reservar ya' %}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../../../static/core/assets/dist/js/jquery.min.js"></script>
	<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>

</body>

{% endblock %}