{% extends 'core/base.html' %}
{% load i18n %}

{%block reservationsUser %}

<head>
    <title>
		{% block title %}
			{% trans 'Mis reservas' %}
		{% endblock %}
	</title>

	<link href="../../../static/core/assets/dist/css/Hotel/reservationHotelUser.css" rel="stylesheet">
</head>

<body>

    <section>
        <div class="container" style="padding-bottom: 275px;">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 style="margin-top: 40px;">{% trans 'Mis reservas de habitación' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align: center;">
                                        {% trans 'Identificador' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Correo electrónico' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Habitación' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Fecha de entrada' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Fecha de salida' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Huéspedes' %}
                                    </th>
                                    <th style="text-align: center;">
                                        {% trans 'Observaciones' %}
                                    </th>
                                    <th style="width: 15%; text-align: center;">
                                        {% trans 'Opciones' %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dic in reservationsDB %}
                                <tr class="alert" role="alert">
                                    <th scope="row" style="text-align: center;">{{ dic.id }}</th>
                                    <td style="text-align: center;">{{ dic.email }}</td>
                                    <td style="text-align: center;">{{ dic.typeRoom }}</th>
                                    <td style="text-align: center;">{{ dic.entry_date }}</td>
                                    <td style="text-align: center;">{{ dic.departure_date }}</td>
                                    <td style="text-align: center;">{{ dic.guests }}</td>
                                    <td style="text-align: center;">{{ dic.observations }}</td>
                                    <td style="text-align: center;">
                                        <a href="formUpdateReservationHotel/{{dic.id}}"
                                            class="btn btn-sm btn-block btn-info">{% trans 'Editar' %}</a>
                                        <a href="deleteReservationHotel/{{dic.id}}"
                                            class="btn btn-sm btn-block btn-danger">{% trans 'Eliminar' %}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}