{% extends 'core/base.html' %}
{% load i18n %}

{% block searchReservationsHotel %}

<head>
    <title>
		{% block title %}
			{% trans 'Consultar reservas hotel' %}
		{% endblock %}
	</title>
  
  <link href="../../../static/core/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../static/core/assets/dist/css/defaultForm/sign-up.css" rel="stylesheet">
  <link href="../../../static/core/assets/dist/css/Hotel/formReservationRoom.css" rel="stylesheet">
</head>

<body>

    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="booking-cta">
                            <h1>{% trans 'Consultar habitación' %}</h1>
                            <h4>{% trans 'Introduzca el número identificador que se le proporcionó y su correo electrónico para comprobar sus reservas.' %}</h5>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <div class="booking-form">
                            <form action="/searchReservationsHotelAnonymous/" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="floatingInput" name="id">
                                            <span class="form-label">{% trans 'Identificador' %}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="floatingInput" name="email">
                                            <span class="form-label">{% trans 'Correo electrónico' %}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-btn">
                                    <button class="submit-btn">{% trans 'Consultar' %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../static/core/assets/dist/js/jquery.min.js"></script>
	<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>
</body>

{% endblock %}