{% extends 'core/base.html' %}
{% load i18n %}

{% block reservationRoom %} 
<head>
	<title>
		{% block title %}
			{% trans 'Modificar reserva' %}
		{% endblock %}
	</title>
  
  <link href="../../../static/core/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../static/core/assets/dist/css/defaultForm/sign-up.css" rel="stylesheet">
  <link href="../../../static/core/assets/dist/css/Hotel/formReservationRoom.css" rel="stylesheet">  
</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="booking-cta">
							<h1>Hotel</h1>
							<h4>{% trans 'Modifique su reserva de habitación en el hotel de una forma sencilla y rápida.' %}</h4>
							<h5>
								<strong>
									{% trans '¡Nosotros comprobaremos la disponibilidad!' %}
								</strong>
							</h5>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-1">
						<div class="booking-form">
							<form action="/updateReservationHotel/" method="post">
								{% csrf_token %}
                <input hidden value="{{ reservation.id }}" name="id">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" type="email" name="email"
												value="{{reservation.email}}">
											<span class="form-label">{% trans 'Correo electrónico' %}</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<div class="form-group">
											<span class="form-label">{% trans 'Huéspedes' %}</span>
											<select class="form-control" name="guests">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="form-group">
											<input hidden class="form-control" type="roomType" name="typeRoom" readonly
												value="{{reservation.typeRoom}}">
											<input class="form-control" type="roomName" name="roomName" readonly
												value="{{room.name}}">
											<span class="form-label">{% trans 'Habitación' %}</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="date" name="entry_date" value="{{reservation.entry_date}}">
											<span class="form-label">{% trans 'Día de entrada' %}</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="date" name="departure_date" value="{{reservation.departure_date}}">
											<span class="form-label">{% trans 'Dia de salida' %}</span>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" type="text" name="observations" value="{{reservation.observations}}">
											<span class="form-label">{% trans 'Observaciones' %}</span>
										</div>
									</div>
								</div>
								<div class="form-btn">
									<button class="submit-btn">{% trans 'Modificar reserva' %}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../../../static/core/assets/dist/js/jquery.min.js"></script>
	<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>

</body>

{% endblock %}  