{% extends 'core/base.html' %}

{% block editProfile %}

<head>
    <title>Editar perfil</title>

    <link href="../../static/core/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/core/assets/dist/css/sign-up.css" rel="stylesheet">
    <!-- Custom styles for this template -->
</head>

<body class="text-center" style="display: flex; justify-content: center;">  

    <main class="form-signin w-100 m-auto">

        <form method="post">

            {% csrf_token %}
            <img class="mb-4" src="../../static/core/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Editar perfil</h1>

            <div>
                <p>
                    <b>Username actual:</b> {{ user.username }}
                </p>
                <p>
                    <b>Email actual:</b> {{ user.email }}
                </p>
                <label>Username nuevo:</label>
                {{ form.username }} 
                <label>Email:</label>
                {{ form.email }}
            </div>
            <a href="{% url 'changePassword' %}">Cambiar contraseña</a>
            <br><br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Editar perfil</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    </main>

</body>
{% endblock %}

</html>