{% extends 'core/base.html' %}

{% block profile %}

<!--User-->
<br><br>
<div class="container mx-auto">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
			<div class="card p-4">
				<div>
					<a href="{% url 'avatar' %}"><img src="../../../../media/{{ user.profile.avatar }}" height="50"
							width="50" class="rounded-circle"></a>
					<h4 class="card-title font-weight-bold text-center"
						style="display: inline-block; vertical-align: top; padding: 10px;">Hola, {{ user.username|title}}</h4>
				</div>
				<hr>
				<div class="card-text">
					<p class="text-muted mb-0" style="font-size: 12px">Nombre de usuario:</p>
					<p>{{ user.username }}</p>
					<p class="text-muted mb-0" style="font-size: 12px">Nombre:</p>
					<p>{{ user.first_name }} {{ user.last_name }}</p>
					<p class="text-muted mb-0" style="font-size: 12px">Correo electrónico:</p>
					<p>{{ user.email }} </p>
					<p class="text-muted mb-0" style="font-size: 12px">Último inicio de sesión:</p>
					<p>{{ user.last_login }} </p>
					<div class="text-right">
						<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
							data-bs-target="#profileModal">Editar perfil</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-9 pb-4">
			<div class="row">
				<div class="col-6 my-auto">
					<h2 class="font-weight-bold pt-4">Promociones</h2>
				</div>
			</div>
			<br>
			<div class="row">
				{% for p in allPromotion %}
				<div class="col-sm-12 col-md-6 col-lg-4 pb-4">
					<div class="h-100">
						<div class="card-body">
							<h5 class="card-title">{{ p.name }}</h5>
							<p class="card-text text-muted" style="font-size:12px">{{ p.description}}</p>
							<p class="card-text text-muted" style="font-size:12px">Oferta válida desde {{ p.startDate}}
								al {{ p.finishDate }}</p>
							<p>
								<strong style="font-size:15px;">Precio flash: {{ p.newPrice }}€</strong>
							</p>
							<button type="button" class="btn btn-warning" data-bs-toggle="modal"
								data-bs-target="#promotionModal" onclick="sub({{ p.id }})">Reservar ya</button>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar perfil</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post">
					{% csrf_token %}
					<div>
						{{ form }}
					</div>
					<a href="{% url 'changePassword' %}">Cambiar contraseña</a>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Save changes</button>
				</form>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="promotionModal" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Promoción</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/reservationsRoomPromotion/" method="post">
					{% csrf_token %}
					<div>
						<input hidden type="text" class="form-control" id="idTypeRoomForm" name="idTypeRoomForm">
						<div class="form-floating">
							<input type="date" class="form-control" id="floatingInput" placeholder="01/01/2000"
								name="entry_date">
							<label for="floatingInput">Día de entrada</label>
						</div>
						<div class="form-floating">
							<input type="date" class="form-control" id="floatingInput" placeholder="01/01/2000"
								name="departure_date">
							<label for="floatingInput">Día de salida</label>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Realizar reserva</button>
				</form>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	function sub(id) {
		document.getElementById("idTypeRoomForm").value = id;
	};
</script>

{% endblock %}